.country-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: space-around;

  gap: 2rem;
}

.country {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--bg-element-color);
}

.country-flag {
  /* !!! FIX !!! */
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.country-info {
  padding: 1rem;
}

.country-name {
  margin-bottom: 1rem;
}

.country-info p {
  line-height: 1.75;
}

.country-info p > b {
  font-weight: 600;
}
