header {
  position: relative;
  background-color: var(--bg-element-color);
  box-shadow: var(--box-shadow);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

header h1.logo {
  font-size: 1rem;
  font-weight: 800;
  color: var(--text-color);
}

.dark-mode-btn {
  background-color: transparent;
  color: var(--text-color);
  border: none;
}
