@import "./reset.css";
@import "./variables.css";
@import "./_header-el.css";
@import "./_main-el.css";
@import "./_country.css";
@import "./media-queries.css";
@import "./_details-page.css";

body {
  font-family: "Nunito Sans";
  background-color: var(--bg-color);
}

.hidden {
  display: none;
}
