@media (min-width: 600px) {
  main,
  .header-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /* * _header-el * */
  header h1.logo {
    font-size: 1.5rem;
  }

  /* * _main-el * */
  form.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-input-label {
    width: min(25rem, 48vw);
    margin-bottom: 0;
  }
}

@media (min-width: 720px) {
  /* * _details-page * */
  .details-info {
    columns: 2;
  }
}

@media (min-width: 915px) {
  /* * _details-page * */
  .details-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .details-info p:nth-child(5) {
    margin-bottom: 0 !important;
  }
}
